<?php
// Database links:
  $DB_HOST = "localhost";
  $DB_USER = "cad";
  $DB_PASS = "cad-password";
  $DB_NAME = "cad";

  $USE_PAGING_LINK = 0;
  $DB_PAGING_NAME = "paging--unused-by-default";
  $DB_PAGING_HOST = "localhost--unused-by-default";
  $DB_PAGING_USER = "cad--unused-by-default";
  $DB_PAGING_PASS = "cad-password--unused-by-default";

// Header display:
  $HEADER_LOGO = "Logos/logo.png";
  $HEADER_TITLE = "Black&nbsp;Flower<br>Computer&nbsp;Aided&nbsp;Dispatch";

// Booleans:
  $BULLETIN_TITLE_SCAN = 1;

// Logging:
  $USE_SYSLOG = 1;
  $SYSLOG_FACILITY = LOG_LOCAL4;
  $SYSLOG_LEVEL = LOG_INFO;

// Config values:
  $DEFAULT_ADMIN = "Administrator";
  $DEFAULT_ADMIN_PW = "admin";

  $INCIDENT_UNIT_COLUMNS = 4;
?>
