<?php
// Database links:
  $DB_HOST = "localhost";
  $DB_USER = "cad";
  $DB_PASS = "cad-password";
  $DB_NAME = "cad";

  $USE_PAGING_LINK = 0;
  $DB_PAGING_NAME = "paging--unused-by-default";
  $DB_PAGING_HOST = "localhost--unused-by-default";
  $DB_PAGING_USER = "cad--unused-by-default";
  $DB_PAGING_PASS = "cad-password--unused-by-default";

// Header display:
  $HEADER_LOGO = "Logos/logo.png";
  $HEADER_TITLE = "Black&nbsp;Flower<br>Computer&nbsp;Aided&nbsp;Dispatch";

// Booleans:
  $BULLETIN_TITLE_SCAN = 1;      //
  $AVOID_NEWINCIDENT_DIALOG = 0; // 1.7.0: use compact new incident entry?
  $USE_INCIDENT_LOCKING = 1;     // 1.8.0: lock incidents (others read-only?)
  $LOCKING_SHOW_USERNAME = 1;    //     \- if locked, show username in list?
  $DEBUG = 0;                    // Debug logging mode (0 or 1).

// Scalars:
  $MAX_LOGIN_ATTEMPTS = 3;        // Max attempts before locking user account.
  $ACCESS_LEVEL_EDITCHANNELS = 5; // Access level required to edit channels
  

// Logging:
  $USE_SYSLOG = 1;
// Use LOG_USER facility for >=WinXP, your choice of LOG_LOCAL<n> for *NIX.
  $SYSLOG_FACILITY = LOG_LOCAL4;
  #$SYSLOG_FACILITY = LOG_USER;
  $SYSLOG_LEVEL = LOG_INFO;
  # Set default timezone:
  $DEFAULT_TIMEZONE = 'America/Los_Angeles';


// Message Type Facility: Used by Wildflower, not by Black Rock.
  $USE_MESSAGE_TYPE = 0;

// Config values:
  $DEFAULT_ADMIN = "Administrator";
  $DEFAULT_ADMIN_PW = "admin";

  $INCIDENT_UNIT_COLUMNS = 4;


///////////////////////////////////////////////////////////////////////////
// Read-Only Mode /////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////

// The default behavior of CAD is that all connecting sessions are in 
// read-write mode.  If you wish instead to enable read-only mode by
// default, for example if you present your CAD instance on an external
// virtual host over which you only want to give read-only access:
//
// 1) Define $READONLY_BY_DEFAULT = 1;  to default deny write access, then
// 2) Define one or more whitelist rules to selectively allow write access:
//
//    $READWRITE_PERMIT_IPV4 = '<comma-separated list of CIDR ranges>';
//       to permit users from those blocks to use read/write mode, where 
//       each part of the comma-separated list is in RFC4632 CIDR notation.
//    WARNING: This is currently (v1.9.0) only IPv4 aware.  IPv6 ranges
//    cannot be whitelisted here.
//
//    $READWRITE_PERMIT_USERIDS = '1,4,12';
//       to permit read/write for users with any of those user_id's,   *and/or*
//
//    $READWRITE_PERMIT_ACLS = 'A,B,C';
//       to permit read/write for users with any of those ACL flags.
//
//    If more than one whitelist rule is set, a user passing any
//    *any one or more* of those rules will be permitted read/write access.
//
// Example:
// $READONLY_BY_DEFAULT = 1;
// $READWRITE_PERMIT_IPV4 = '10.0.0.0/24,192.168.0.0/24';
// $READWRITE_PERMIT_USERIDS = '4';

$READONLY_BY_DEFAULT=0;

///////////////////////////////////////////////////////////////////////////
// Call Number formatting /////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////

// Default behavior is that each incident's Call Number is equal
// to the database-generated incident_id key.  Two other modes of
// operations are available, Date Prefix and Base Index modes.  To
// use either of those modex, uncomment the desired CALLNUM_MODE
// definition and read the mode customization details below.
//
// The maximum length of a Call Number field is 40 characters.  If
// a formatted Call Number is longer than that, it will be masked
// to show the TRAILING 40 characters of the formatted Call Number.
//
  $CALLNUM_MODE = "dateprefix";
//  $CALLNUM_MODE = "baseindex";
//

// If CALLNUM_MODE is "dateprefix", define the Prefix Format and 
// ID Format string values.  

  $CALLNUM_PREFIX_FORMAT = "Y-";
  $CALLNUM_ID_FORMAT = "%04d";

// Details:
//   The Prefix Format should be a PHP "date()" format string.
//   The ID Format should be a PHP "sprintf()" format string.
//   The Call Number will consist of the ID Format-formatted, 
//    database-generated incident_id string, string-appended 
//    to the current Prefix Format-formatted date.
//
// Examples for incident_id "123" on January 25th, 2007:
//
//  PREFIX FORMAT     ID FORMAT    Call Number
//       y                           07123
//       y              %04d         070123
//       Y-                          2007-123
//       Y-             %04d         2007-0123
//       yW             %04d         07040123
//

// If CALLNUM_MODE is "baseindex", define the Base Index integer value.

  $CALLNUM_BASEINDEX = 0;

// Details:
//   The Call Number for each incident will be the integer sum of the
//   configured Base Index value and the database-generated incident_id 
//   value.  Note that to preserve call number uniqueness when changing 
//   servers or code versions, you must be very careful how you set this 
//   value.
//
// Example for incident_id "123":
//
//  BASEINDEX          incident_id     Call Number
//    0 or undefined        1                1
//    500                   1              501
//    500                 123              623
?>
